<div class="footer py-5">
    <div class="container cont-after">
        <div class="row">
            <div class="col-md-4">
                <h3>
                    <img src="assets/images/logo-footer.png" alt="">
                </h3>
                <ul>
                    <li>
                        <i class="fa-solid fa-location-dot"></i>
                        25566 Hc 1, Glenallen, Alaska, 99588, USA
                    </li>
                    <li class="mt-2">
                        <i class="fa-solid fa-phone"></i>
                        +603 4784 273 12
                    </li>
                    <li class="mt-2">
                        <i class="fa-regular fa-envelope"></i>
                        rentcars.gmail.com
                    </li>
                </ul>
            </div>
            <div class="col-md-2">
                <h3>
                    Our Products
                </h3>
                <ul>
                    <li>Career</li>
                    <li>Car</li>
                    <li>Packages </li>
                    <li>Features</li>
                    <li>Priceline</li>
                </ul>
            </div>
            <div class="col-md-2">
                <h3>Resources</h3>
                <ul>
                    <li>Download</li>
                    <li>Help Centre</li>
                    <li>Guides </li>
                    <li>Partner Network</li>
                    <li>Cruises</li>
                    <li>Developer</li>
                </ul>
            </div>
            <div class="col-md-2">
                <h3>About Rentcars</h3>
                <ul>
                    <li>Why choose us</li>
                    <li>Our Story</li>
                    <li>Investor Relations </li>
                    <li>Press Center</li>
                    <li>Advertise</li>
                </ul>
            </div>
            <div class="col-md-2">
                <h3>Follow Us</h3>
                <ul class="d-flex">
                    <li class="mx-2">
                        <i class="fa-brands fa-facebook"></i>
                    </li>
                    <li class="mx-2">
                        <i class="fa-brands fa-instagram"></i>
                    </li>
                    <li class="mx-2">
                        <i class="fa-brands fa-youtube"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container end-foot pt-3">
        <small>Copyright 2023 ・ Rentcars, All Rights Reserved</small>
    </div>
</div>