<nav
    class="navbar navbar-expand-sm navbar-light bg-white py-4"
>
    <div class="container">
        <img src="assets/images/logo.png" class="navbar-brand">
        <button
            class="navbar-toggler d-lg-none"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavId"
            aria-controls="collapsibleNavId"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link">Become a renter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Rental deals</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">How it work</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Why choose us</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <button class="nav-link">Sign in</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link">Sign up</button>
                </li>
            </ul>
        </div>
    </div>
</nav>
